<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa</title>
</head>
<body>

    <h1> Pesquisa sobre Hospedagem com HTML e Python
</h1>

<br><br>
<hr>
<h3>O que é o pyton?</h3>

<p>Python é uma linguagem de programação criada para ser simples e fácil de entender.</p>
<p>Possui sintaxe organizada e parecida com a linguagem humana.</p>
<p>É muito utilizada no desenvolvimento de sistemas, sites, automações e inteligência artificial.</p>
<hr>
<h3>Para que serve o Pyton?</h3>

<p>Desenvolvimento de sites e sistemas web.
Criação de jogos. <br>
Automação de tarefas. <br>
Desenvolvimento de aplicativos. <br>
Análise de dados. <br>
Inteligência Artificial e Machine Learning. <br>
Criação de APIs e Back End.</p>
<hr>

<h3>Vantagens de usar Python na vida profissional</h3>
<p>Fácil de aprender e utilizar. <br>
Muito usada no mercado de trabalho. <br>
Grande quantidade de bibliotecas prontas. <br>
Funciona em diferentes sistemas operacionais. <br>
Aumenta a produtividade no desenvolvimento. <br>
Utilizada por grandes empresas como Google, Netflix e Instagram.</p>
<hr>
<center>
<h2>O que é POO?</h2>
</center>
<hr>

<h3>Conceito</h3>
<p>POO é uma forma de programar baseada em objetos. <br>
Os objetos representam elementos do mundo real. <br>
Cada objeto possui: <br>
Atributos → características. <br>
Métodos → ações ou funções. <br>
Exemplo: <br><br>

Objeto: Carro <br>

Atributos: cor, modelo, ano. <br>
Métodos: ligar, acelerar, frear.</p>

<hr>

<h3>Qual a vantagem de usar POO?</h3>
<p>Organização melhor do código. <br>
Facilidade para manutenção. <br>
Reutilização de código. <br>
Maior segurança e controle das informações. <br>
Projetos mais fáceis de expandir.</p>

</body>
</html>